<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第一种:下标赋值-->
    <!--   <bean id="user" class="com.csu.pojo.User">
        <constructor-arg index="0" value="你说" />
    </bean>    -->

    <!--第二种方式，通过类型创建，不建议使用-->
    <!--     <bean id="user" class="com.csu.pojo.User" >
        <constructor-arg type="java.lang.String" value="lily"/>
    </bean>     -->

    <!--第三种:直接通过参数名，最能理解-->
    <bean id="user" class="com.csu.pojo.User" >
        <constructor-arg name="name" value="lily" />
    </bean>

    <alias name="user" alias="asdsad" />

    <!--bean中的配置介绍:
        id:bean的唯一标识符，也就是相当于我们学过的对象名
        class:bean对象所对应的全限定名（全限定名说明是反射）
        name:name也是别名，可以同时取多个别名，alias是一对一，name更好用

    -->
</beans>