<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="spring-dao.xml"/>    <!--把spring-dao.xml导进来，这个文件就彻底独立了，成为总的配置文件的一部分，解耦合-->

    <!--第一种方式-->
    <bean id="userMapper" class="com.csu.mapper.UserMapperImpl" >
        <property name="sqlSession" ref="sqlSession"/>
    </bean>


    <!--使用第二种方式SqlSessionDaoSupport进行整合-->
    <bean id="userMapper2" class="com.csu.mapper.UserMapperImpl2" >
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>